@using TicTacToeBlazor.Helpers.TicTacToeGame

<div class="square @_currentClass" @onclick="ClickHandler" @onkeydown="OnKeyDown" tabindex="0">@_currentState</div>

@code {
    private char _currentState;
    private string _currentClass = "";

    [Parameter, EditorRequired] public TicTacToeCell value { get; set; } = null!;

    [Parameter] public EventCallback ClickHandler { get; set; }

    protected override void OnParametersSet()
    {
        this._currentState = this.ShowState(value.CurrentState);
        this._currentClass = value.IsWinningCell ? "winning-cell" : "";
    }

    private async Task OnKeyDown(KeyboardEventArgs e) {
        if (e.Key == "Enter" || e.Key == " ") {
            await this.ClickHandler.InvokeAsync(null);
        }
    }

    private char ShowState(CellState state)
    {
        char result;
        switch (state)
        {
            case CellState.X:
                result = 'X';
                break;
            case CellState.O:
                result = 'O';
                break;
            default:
                result = ' ';
                break;
        }
        return result;
    }
}