@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to a Tic-Tac-Toe example implemented in <a href="https://docs.microsoft.com/aspnet" target="_blank">Blazor wasm</a>.</p>

<p>This single-page application is a part of a <a href="https://github.com/nokacper24/wasm-specialization-course" target="_blank">WASM specializaiton project</a>.<br>
The purpose of this project is to demonstrate the capabilities of Blazor and WebAssembly.</p>



<NavLink class="btn btn-primary" href="tictactoe">
    Play Tic-Tac-Toe
</NavLink>